<% if (language==="en" ) { %>
    <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
        <section class="begin"
            style="text-align: center; color: <%= process.env.WEBSITE_COLOR %>; margin-bottom: 20px;">
            <img src="<%= process.env.BASE_API_URL %>/assets/images/defaultOfficeImage.jpg"
                alt="<%= process.env.WEBSITE_NAME %> Image" style="width: 100px; height: 100px;">
        </section>
        <section class="content"
            style="width: 80%; border: 1px solid <%= process.env.WEBSITE_COLOR %>; margin: auto; padding: 20px; line-height: 2;">
            <h2 style="text-align: center;">Confirmation of Real Estate Valuation Request Receipt at <%=
                    process.env.WEBSITE_NAME %>
            </h2>
            <p>
                We welcome you and thank you for visiting our website.
            </p>
            <p>
                Your request has been received. We will respond as soon as possible and contact you via email, phone, or
                WhatsApp.
            </p>
            <h4>Best regards,</h4>
            <h4 style="line-height: 0; color: <%= process.env.WEBSITE_COLOR %>;">The <%= process.env.WEBSITE_NAME %>
                    Team</h4>
        </section>
    </div>
    <% } else if (language==="ar" ) { %>
        <div
            style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0; direction: rtl;">
            <section class="begin"
                style="text-align: center; color: <%= process.env.WEBSITE_COLOR %>; margin-bottom: 20px;">
                <img src="<%= process.env.BASE_API_URL %>/assets/images/defaultOfficeImage.jpg"
                    alt="<%= process.env.WEBSITE_NAME %> Image" style="width: 100px; height: 100px;">
            </section>
            <section class="content"
                style="width: 80%; border: 1px solid <%= process.env.WEBSITE_COLOR %>; margin: auto; padding: 20px; line-height: 2;">
                <h2 style="text-align: center;">تأكيد وصول طلب تقييم عقاري لدى <%= process.env.WEBSITE_NAME %>
                </h2>
                <p>
                    نرحب بكم ونشكركم على زيارة موقعنا
                </p>
                <p>
                    لقد تم استلام طلبكم وسيتم الرد بأسرع وقت ممكن والتواصل معكم عن طريق الإيميل أو الهاتف أو
                    الواتس آب .
                </p>
                <h4>أطيب التحيات,</h4>
                <h4 style="line-height: 0; color: <%= process.env.WEBSITE_COLOR %>;">فريق عمل <%=
                        process.env.WEBSITE_NAME %>
                </h4>
            </section>
        </div>
        <% } else if (language==="de" ) { %>
            <div style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
                <section class="begin"
                    style="text-align: center; color: <%= process.env.WEBSITE_COLOR %>; margin-bottom: 20px;">
                    <img src="<%= process.env.BASE_API_URL %>/assets/images/defaultOfficeImage.jpg"
                        alt="<%= process.env.WEBSITE_NAME %> Image" style="width: 100px; height: 100px;">
                </section>
                <section class="content"
                    style="width: 80%; border: 1px solid <%= process.env.WEBSITE_COLOR %>; margin: auto; padding: 20px; line-height: 2;">
                    <h2 style="text-align: center;">Bestätigung des Eingangs Ihrer Immobilienbewertungsanfrage bei <%=
                            process.env.WEBSITE_NAME %>
                    </h2>
                    <p>
                        Wir heißen Sie willkommen und danken Ihnen für den Besuch unserer Website.
                    </p>
                    <p>
                        Ihre Anfrage wurde empfangen. Wir werden so schnell wie möglich antworten und Sie per E-Mail,
                        Telefon oder WhatsApp kontaktieren.
                    </p>
                    <h4>Mit freundlichen Grüßen,</h4>
                    <h4 style="line-height: 0; color: <%= process.env.WEBSITE_COLOR %>;">Das <%=
                            process.env.WEBSITE_NAME %>-Team</h4>
                </section>
            </div>
            <% } else { %>
                <div
                    style="font-family: Helvetica,Arial,sans-serif; min-width: 1000px; overflow:auto; padding: 20px 0;">
                    <section class="begin"
                        style="text-align: center; color: <%= process.env.WEBSITE_COLOR %>; margin-bottom: 20px;">
                        <img src="<%= process.env.BASE_API_URL %>/assets/images/defaultOfficeImage.jpg"
                            alt="<%= process.env.WEBSITE_NAME %> Image" style="width: 100px; height: 100px;">
                    </section>
                    <section class="content"
                        style="width: 80%; border: 1px solid <%= process.env.WEBSITE_COLOR %>; margin: auto; padding: 20px; line-height: 2;">
                        <h2 style="text-align: center;">Gayrimenkul değerleme talebinizin <%= process.env.WEBSITE_NAME
                                %> sitesine ulaştığının onayı
                        </h2>
                        <p>
                            Hoş geldiniz, sitemizi ziyaret ettiğiniz için teşekkür ederiz.
                        </p>
                        <p>
                            Talebiniz alınmıştır. En kısa sürede yanıtlanacak ve sizinle e-posta, telefon veya WhatsApp
                            yoluyla iletişime geçilecektir.
                        </p>
                        <h4>Saygılarımla,</h4>
                        <h4 style="line-height: 0; color: <%= process.env.WEBSITE_COLOR %>;">
                            <%= process.env.WEBSITE_NAME %> Ekibi
                        </h4>
                    </section>
                </div>
                <% } %>